node_modules/
node_modules/*
npm-debug.log
temp/
temp/*
coverage/
coverage/*

# Editors
/.vscode/*
!/.vscode/extensions.json
*.bak
.project

# Python cache
__pycache__/
*.py[cod]

# Rust build cache
target/
tmp/
tmp/*